.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.momentsGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.momentsGallery__header {
  position: fixed;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 2;
  background-color: white;
}

.momentsGallery__body {
  display: flex;
  justify-content: center;
  position: relative;
  top: 72px;
  background-color: rgb(43, 90, 122);
  width: 100vw;
  height: 89.9vh;
}