.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 246, 253);
  }

.momentsGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.momentsGallery__header {
  position: fixed;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 2;
  background-color: white;
}

.momentsGallery__body {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 72px;
}

.momentsGallery__container {
  display: flex;
  justify-content: center;
  position: relative;
}